<div class="px-5 grid lg:grid-cols-2 grid-cols-1 gap-6 max-w-screen-xl py-10 mx-auto">
  <div>
    <article class="flex bg-transparent w-full h-full rounded-md text-center leading-7 lg:text-md text-sm leading-relaxed">
      <div class="flex flex-1 flex-col justify-between">
        <div class="p-4 sm:border-l-transparent sm:p-6 lg:text-lg">
          <a href="#">
            <h3 class="uppercase lg:text-3xl text-xl">
              Zapraszamy do kontaktu
            </h3>
          </a>
          <p class="pt-4 text-sm lg:text-lg text-black line-clamp-3 text-yellow-600">
            <img alt="icon" class="inline-block" src="assets/icon/phone.svg">
            <span class="">
              501 104 680
            </span><br>
          <div>
            <p class="pt-4 text-yellow-600"><img alt="icon" class="inline-block mr-1" src="assets/icon/mail.svg">
              info@glodnykrólik.radom.pl
            </p>
            <p class="pt-4 text-yellow-600"><img alt="icon" class="inline-block" src="assets/icon/map-marker-2.svg">
              ul.Jacka Malczewskiego 21/23b,<br>26-600 Radom</p>
          </div>
          <p class="mt-2 text-sm lg:text-lg line-clamp-3 pb-1 font-bold">Godziny pracy:</p>
          <div class="lg:w-96 w-1/2 mx-auto">
            <div *ngFor="let d of day" class="grid grid-cols-2 justify-center lg:text-lg">
              <span>{{d.day}}:</span>
              <span>{{d.time}}</span>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <div>
    <section class='lg:items-center w-full h-full lg:pt-10'>
      <div>
        <form action='' class='mx-auto mt-5 mb-0 space-y-4'>
          <label class='block text-sm font-medium text-gray-800' for='Email'>
            Email
          </label>
          <input
            class='w-full border-gray-800 p-4 pr-12 text-sm border border-gray-800'
            id='Email'
            maxlength='100'
            name='email'
            placeholder='your@example.com'
            type='email'/>
          <div class='flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1'>
          </div>
          <label class='block mb-2 text-sm font-medium' for='message'>
            Your message
          </label>
          <textarea
            class='block p-2.5 w-full text-sm border border-gray-800 focus:ring-gray-800'
            id='message'
            maxlength='256'
            minlength='3'
            placeholder='Ex. Message for me...'
            rows='4'>
            </textarea>
          <div class='flex items-center tracking-wide text-red-500 mt-1 ml-1'></div>
          <div class='flex items-center justify-between'>
            <button
              class='px-8 py-3  lg:text-base text-sm font-bold bg-gray-800 text-gray-100 w-full hover:bg-yellow-600'>
              Wyślij
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
<div class="w-full h-96 border-2">
  <app-google-map></app-google-map>
</div>
