<div class="flex justify-center">
  <div class="w-full lg:w-1/2 mt-10">
    <table class="w-full divide-y divide-gray-800 lg:text-base text-sm whitespace-nowrap text-left text-black">
      <thead>
      <tr>
        <th class="px-5 py-2 text-gray-600">
          Lunch na ten tydzień
        </th>
        <th class="px-5 py-2 text-gray-600">
          Data
        </th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-800">
      <tr *ngFor="let recipe of recipes$ | async">
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          <p>{{recipe.name}}</p>
        </td>
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          <p>{{recipe.date.toDate() | date: 'EEEE dd-MM-YYYY':'GMT+0100':'pl'}}</p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

