<section class="text-gray-800">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header class="text-center">
      <h2 class="text-xl font-bold sm:text-3xl">
        Nasza Galeria Zdjęć
      </h2>
    </header>
    <div class="relative flex items-center justify-center w-full text-gray-900">
      <div class="flex items-center justify-start w-full h-full gap-6 py-4 mx-auto overflow-auto lg:gap-8">
        <div class="relative flex flex-shrink-0 w-full sm:w-auto" *ngFor="let photo of photos">
          <img class="object-cover object-center h-96 aspect-square bg-gray-500" [src]="photo.img" alt="Image 1">
        </div>
      </div>
    </div>
  </div>
</section>



