<ng-template #loading>
  <div class="flex items-center justify-center space-x-2">
  <div class="w-4 h-4 rounded-full animate-pulse bg-yellow-600"></div>
  <div class="w-4 h-4 rounded-full animate-pulse bg-yellow-600"></div>
  <div class="w-4 h-4 rounded-full animate-pulse bg-yellow-600"></div>
</div>
</ng-template>

<div class="flex justify-center">
  <div class="w-full lg:w-1/2 mt-10">
    <div *ngIf="(menu$ | async);  else loading;">
    <table class="w-full divide-y divide-gray-800 lg:text-base text-sm whitespace-nowrap text-left text-black">
      <thead>
      <tr>
        <th class="px-5 py-2 text-yellow-600">
          Danie
        </th>
        <th class="px-5 py-2 text-yellow-600">
          Cena
        </th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-800">
      <tr *ngFor="let menu of menu$ | async">
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          <p>{{menu.name}}</p>
        </td>
        <td class="whitespace-normal ext-gray-700 px-5 py-2">{{menu.price}}zł</td>
      </tr>
      <tr>
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          Dowóz do Kilenta
          <span class="font-bold text-red-600 text-xs"> na terenie miasta </span>
        </td>
        <td class="whitespace-normal text-gray-700 px-5 py-2">
          5zł
        </td>
      </tr>
      <tr>
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          Opakowanie
        </td>
        <td class="whitespace-normal text-gray-700">
          0,75zł
        </td>
      </tr>
      <tr>
        <td class="whitespace-normal font-medium text-black lg:px-5 px-1 py-2">
          Reklamówka
        </td>
        <td class="whitespace-normal text-gray-700">
          0,35zł
        </td>
      </tr>
      </tbody>
    </table>
  </div>
    </div>
</div>


