<header class="p-4 bg-gray-100 text-gray-800 w-auto">
  <div class="container grid grid-cols-1 w-1/2 justify-between h-16 mx-auto md:justify-center md:space-x-8 pb-5">
    <h1 class="text-center text-yellow-600" rel="noopener noreferrer">
      RADOM
    </h1>
    <h3 class="text-center p-2 text-3xl border-y-2 tracking-wider border-gray-500">
      BAR GŁODNY KRÓLIK
    </h3>
  </div>
  <div class="container flex h-16 mx-auto justify-center space-x-8">
    <ul class="items-stretch flex space-x-3">
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="">
          O nas</a>
      </li>
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="menu">Menu</a>
      </li>
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="galery">Galeria</a>
      </li>
      <li class="flex">
        <a class="flex items-center px-4 -mb-1 border-b-2 border-transparent" routerLink="contact">Kontakt</a>
      </li>
        <app-signin class="absolute top-0 right-0 p-4"></app-signin>
    </ul>
  </div>
</header>

