<header class="p-4 bg-gray-100 text-gray-800 w-auto">
  <div class="container grid grid-cols-1 lg:w-1/2 w-3/4 justify-between mx-auto md:justify-center md:space-x-8 lg:pb-5">
    <h1 class="text-center text-yellow-600">
      RADOM
    </h1>
    <h3 class="text-center lg:p-2 text-xl lg:text-3xl border-y-2 tracking-wider border-gray-500">
      BAR GŁODNY KRÓLIK
    </h3>
  </div>
  <div class="container flex text-xs lg:text-sm pt-2 mx-auto justify-center space-x-8">
    <ul class="items-stretch flex space-x-3">
      <li class="flex">
        <a class="flex items-center lg:px-4 inline-block" routerLink="">
          O nas</a>
      </li>
      <li class="flex">
        <a class="flex items-center lg:px-4" routerLink="menu">Menu</a>
      </li>
      <li class="flex">
        <a class="flex items-center lg:px-4" routerLink="galery">Galeria</a>
      </li>
      <li class="flex">
        <a class="flex items-center lg:px-4" routerLink="contact">Kontakt</a>
      </li>
    </ul>
  </div>
</header>

